.banner-container {
  background-color: rgb(220, 221, 223);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding:25px;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}

.banner-container .banner-name {
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}